<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Integrating Google OneTap with OneLogin</h1>
    </body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script>
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: '{{one_tap_client_id}}',
          callback: function (credentialResponse) {
            let response = credentialResponse;
            $.ajax({
                type: 'POST',
                url: '/one-tap-login/',
                headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/JSON; charset=utf-8',
              success: function(result) {
                document.getElementsByTagName('h1')[0].innerHTML 
                  = "Welcome, " + result + "!";
              },
              data: JSON.stringify({credential: response.credential})
            });
          }
        });
        google.accounts.id.prompt();
      };
    </script>
</html>